POSTGRES_DB=dbname
POSTGRES_USER=username
POSTGRES_PASSWORD=psw
POSTGRES_PORT=5432 # must be different for each env
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}
CONTAINER_NAME=example-postgres-docker-name # must be different for each env
DATA_PATH=/tmp/postgres-task-manager-data/example-env

NEXTAUTH_SECRET="your-secret-key-change-this"
NEXTAUTH_URL="http://localhost:3000"
